.friend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% / 3);
    min-width: 60px;
    padding: 10px 0;
}

.friend:hover .friendDescription {
    display: block;
}

.avaWrap {
    display: flex;
    height: 60px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
}

.avaWrap img {
    max-width: none;
    min-width: 100%;
}

.friend a {
    text-decoration: none;
    color: #000;
}

.name {
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
}

.friendDescription {
    display: none;
    background: #F1F1F1;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    max-width: 400px;
    min-width: 120px;
}

.friendDescription:after {
    bottom: 100%;
    left: 21px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #F1F1F1;
    border-width: 8px;
    margin-left: 0px;
}

.status {
    overflow: hidden;
    text-overflow: ellipsis;
}