.users {
    padding: 20px;
}

.getUsers {
    margin-bottom: 20px;
}

.usersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.user {
    display: flex;
    justify-content: flex-start;
    width: calc((100% / 2) - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: all .3s ease;
}

.user .userInnerWrap {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    border: 1px solid #c75c5c;
}

.user:hover .userInnerWrap {
    box-shadow: 3px 3px 3px 3px rgba(87, 0, 0, 0.1);
    top: -3px;
    left: -3px;
}

.userInnerWrap > div {
    padding: 10px 20px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}

.userInfo .userName {
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bold;
    color: #191523;
    text-decoration: none;
}

.userInfo button:disabled {
    background-color: darkgray;
}

.userInfo button:focus {
    outline: 2px solid lightgray;
}

.status {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 4.8em;
    min-height: calc(1.2em + 10px);
    max-width: 240px;
}

.avaWrap {
    display: flex;
    text-align: center;
    margin: 10px 0;
}

.avaWrap a {
    overflow: hidden;
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: #E1E1E1;
}

.userWithAva {

}

.location {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.preloaderWrapper {
    margin: 60px;
}

.preloaderWrapper + .usersContainer {
    display: none;
}

.usersPagination {
    padding: 20px 20px 0 20px;
}

.usersPagination > div {
    margin-bottom: 0;
}