.header {
    grid-area: h;
    background-color: lightgray;
    padding: 20px;
    display: flex;
    align-items: center;
}

.header img {
    max-height: 100%;
    margin-right: auto;
}

.loginBlock {
    margin-left: auto;
}

.loginBlock span button {
    margin-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.loginBlock span svg:hover path {
    fill: darkgray;
}

.login {
    color: #000;
    text-decoration: none;
}