.pagination {
    margin-bottom: 20px;
}

.pagination span {
    margin: 0 3px;
    cursor: pointer;
}

.pagination .activePage {
    font-weight: bold;
    cursor: default;
}

.pagination .paginationLeftArrow {
    margin-left: 5px;
}

.pagination .paginationRightArrow {
    margin-right: 5px;
}

.pagination .paginationPrev,
.pagination .paginationNext {
    display: inline;
}

.pagination .paginationPrev {
    margin-right: 10px;
}

.pagination .paginationNext {
    margin-left: 10px;
}

.pagination button:active, .pagination button:focus {
    border: 1px solid #c75c5c;
}