.pagination {
    margin-bottom: 20px;
}

.pagination span {
    margin: 0 3px;
    cursor: pointer;
}

.pagination .activePage {
    font-weight: bold;
    cursor: default;
}

.pagination .pageNumber {

}

.pagination .paginationPrev,
.pagination .paginationNext {
    display: inline;
}

.pagination .paginationPrev button,
.pagination .paginationPrev button:focus,
.pagination .paginationNext button,
.pagination .paginationNext button:focus {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}