.descriptionBlock {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    position: relative;
}

.descriptionInfo {
    padding: 20px 40px;
    box-sizing: border-box;
    max-width: calc(100% - 200px);
}

.contacts {
    display: inline-block;
    margin-top: 10px;
}

.contacts a {
    display: block;
    text-decoration: none;
    color: gray;
}