.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c" "f f";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 280px 10fr;
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    border: 1px solid darkgray;
    box-sizing: border-box;
    min-height: calc(100vh - 220px);
}

img {
    max-width: 100%;
}

.interlocutor {
    padding: 5px;
    background: #f2f2f2;
    text-align: right;
    display: inline;
}

.me {
    padding: 5px;
    display: inline;
}