html {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #191523;
}

.app-wrapper {
    display: grid;
    grid-template-areas: 'h h' 'n c' 'f f';
    grid-template-rows: 200px 1fr auto;
    grid-template-columns: 250px 10fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    box-sizing: border-box;
    min-height: calc(100vh - 220px);
    position: relative;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
}

img {
    max-width: 100%;
}

.loading {
    padding: 20px;
}

button {
    background: linear-gradient(45deg, #c75c5c 10%, #f5cf87 90%);
    background-size: 200% 100%;
    padding: 8px 15px;
    border: 1px solid #c75c5c;
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
    outline: none;
    cursor: pointer;
    font-family: Kulturista;
    transition: all .3s ease;
    box-sizing: border-box;
    line-height: 1em;
}

button:hover {
    -webkit-animation: bruh 3s linear infinite;
    animation: bruh 3s linear infinite;
}

button:active, button:focus {
    border-color: #000000;
}

@-webkit-keyframes bruh {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes bruh {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

textarea, textarea:focus, textarea:active {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2em;
    font-size: 16px;
    padding: 10px;
    background: #F1F1F1;
    border: 0;
    outline: none;
    resize: vertical;
}

input[type="text"] {
    padding: 5px;
    background: #F1F1F1;
    border: 0;
    outline: none;
}

input[type="checkbox"] {
    display: none;
    opacity: 0;
    width: 0;
    margin: 0;
}

input[type="checkbox"] + label {
    cursor: pointer;
    position: relative;

}

input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(45deg, #c75c5c 10%, #f5cf87 90%);
    right: -39px;
    top: -4px;
    z-index: 1;
}

input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background: white;
    display: block;
    right: -35px;
    top: 0;
    color: #DD9471;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

input[type="checkbox"]:checked + label:before {
    content: "\2714";
}