.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsItems {
    padding-right: 20px;
}

.dialog {
    margin-bottom: 10px;
}

.dialog a {
    color: #000;
}

.active {
    text-decoration: none;
}

.active::after {
    content: '✍';
    display: inline-block;
    position: relative;
    bottom: 4px;
    margin-left: 5px;
}

.messages {
    padding-left: 20px;
    border-left: 1px solid #000;
}

.message {
    margin-bottom: 10px;
}