.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 20px;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.dialog {
    display: inline-flex;
    margin-bottom: 10px;
}

.dialog a {
    color: #000;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #c75c5c;
    outline: none;
    cursor: pointer;
    font-family: Kulturista;
    transition: all .3s ease;
    box-sizing: border-box;
    line-height: 1em;
}

.dialog a.active {
    background: linear-gradient(45deg, #c75c5c 10%, #f5cf87 90%);
    background-size: 200% 100%;
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messagesWrapper {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 20px;
    background: #f1f1f1;
}

.message {
    padding: 10px;
    border-left: 1px solid #000;
}

.message:not(:last-of-type) {
    margin-bottom: 15px;
}

.addMessage {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 40px;
}

.addMessage textarea {
    height: 60px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.addMessage button {
    width: 100px;
    box-sizing: content-box;
}