.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 20px;
}

.dialogsItems {
    padding-right: 20px;
}

.dialog {
    margin-bottom: 10px;
}

.dialog a {
    color: #000;
}

.active {
    text-decoration: none;
}

.active::after {
    content: '✍';
    display: inline-block;
    position: relative;
    bottom: 4px;
    margin-left: 5px;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    border-left: 1px solid #000;
}

.message {
    margin-bottom: 10px;
}

.addMessage {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 40px;
}

.addMessage textarea {
    height: 60px;
    margin-bottom: 10px;
    max-width: 100%;
}

.addMessage button {
    width: 100px;
}